// fonts
$font: 'Gilroy', 'Arial', sans-serif;

// colors
$black: #2c2c2c;
$black90: #282e33;
$grey10: #fcfcfc;
$grey20: #f2f4f7;
$grey30: #a7a6a6;
$grey40: #979797;
$grey80: #767676;
$blue: #1e4c9a;
$error: #ff6565;

// media
$mediaWidthLaptop: 1390px;
$mediaWidthTablet: 767px;
