.footer {
  background: #fff;
  &__top {
    padding: 65px 0 60px;
    border-bottom: 1px solid #e2e2e2;
    @include media-laptop {
      padding: 45px 0;
    }
    @include media-tablet {
      padding: 25px 0 20px;
    }
    &-wrapper {
      display: flex;
      align-items: flex-start;
      @include media-laptop {
        flex-wrap: wrap;
      }
    }
  }
  &__logo {
    align-self: center;
    width: 120px;
    margin-right: 50px;
    @include media-laptop {
      margin-right: 35px;
    }
    @include media-tablet {
      order: 3;
      width: 65px;
    }
  }
  &__awards {
    align-self: center;
    display: flex;
    &-item {
      width: 84px;
      @include media-tablet {
        width: 55px;
      }
      &:not(:last-child) {
        margin-right: 15px;
        @include media-tablet {
          margin-right: 10px;
        }
      }
    }
    @include media-laptop {
      order: 1;
      justify-content: center;
      width: 100%;
      margin-top: 25px;
    }
    @include media-tablet {
      order: 2;
      width: calc(100% + 30px);
      margin: 20px -15px;
      padding: 15px;
      border: 1px solid #dadada;
      border-width: 1px 0;
    }
  }
  &__phone-mob {
    order: 4;
    display: none;
    margin-left: auto;
    align-self: center;
    font-size: 12px;
    @include media-tablet {
      display: block;
    }
  }
  &__phone {
    font-size: 18px;
    @include media-laptop {
      font-size: 14px;
    }
    @include media-tablet {
      font-size: 12px;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
    margin-left: auto;
    @include media-tablet {
      order: 1;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
      margin-top: 0;
    }
  }
  &__bottom {
    padding: 40px 0 20px;
    font: 300 15px/1.2 $font;
    text-align: center;
    color: #aaa;
    @include media-tablet {
      padding: 20px 0 10px;
      font-size: 8px;
    }
  }
  &__info {
    &-item {
      &:not(:last-child) {
        margin-right: 8px;
        padding-right: 8px;
        border-right: 1px solid currentColor;
        @include media-tablet {
          margin-right: 4px;
          padding-right: 4px;
        }
      }
    }
  }
  .ui-button--ripple-out {
    padding: 16px 45px;
    font-size: 16px;
    @include media-tablet {
      padding: 10px 28px;
      font-size: 11px;
    }
  }
}
